Package: cn.ming.ChargingHelper.iOS8
Name: ChargingHelper for iOS 8
Version: 0.6.3-1
Description: 
Section: System
Depends: firmware (>= 8.0), mobilesubstrate
Conflicts: cn.ming.ChargingHelper, cn.ming.charginghelperplus, cn.ming.charginghelperplus.ios8
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Ming
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon:

